<div>Private page</div>
{{#if user}}
  <div>
    <h1>Your favorites/reviews</h1>
    <h1>Hello, <span style="color: red;">{{ user.username}}</span>. Here are your favorite parks </h1>
    <img src="https://okdiario.com/img/2019/10/13/parques-mas-bonitos-de-barcelona-655x368.jpg" alt="Your parks.">
    <a href="/">Index</a>
  </div>
{{/if}}

<a class="nav-link" href="/auth/logout">Logout</a>